@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url('../fontes/IDroid.otf') format('opentype');
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --color0: #ebe5c5;
    --color1: #83e1ad;
    --color2: #3ddc84;
    --color3: #2fa866;    
    --color4: #1a5c37;
    --color5: #063d1e;
    --color-shadow: #000000b3;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

body{
    font-family: var(--fonte-padrao);
    background-color: var(--color0);
    margin: 0px;
}
h2{
    font-family: var(--fonte-android);
    text-shadow: 1px 1px var(--color-shadow);
    color: var(--color4);
}
h3{
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, var(--color1), white);
    color: var(--color4);
    text-shadow: 1px 1px var(--color-shadow);
    padding: 5px;
}
p{
    text-align: justify;
    text-indent: 40px;
}
header{
    background-image: linear-gradient(to bottom, var(--color1), var(--color5));
    text-align: center;
    color: white;
    padding: 10px;
    font-family: var(--fonte-destaque);
    margin: 0px;
}
nav{
    margin: 0px;
    background-color: var(--color5);
    text-align: center;
    padding: 5px;
    margin: 1% auto;
}
nav>a{
    color: white;
    text-decoration: none;
    margin: 3%;
    font-weight: bold;
}
nav>a:hover{
    text-decoration: underline;
}
header>p{
    text-align: center;
    color: white;
}
h1{
    padding: 0px;
    margin: 0px;
    text-shadow: 1px 1px var(--color-shadow);
}
main{
    background-color: white;
    padding: 2%;
    margin:0% 10%;
    padding: 2%;}
.middle{
    text-align: center;
}

/* Resposibidade de vídeo foi copiar e colar, tentar entender em outra hora!*/
figure{
    width: 90%; 
    min-width: 17.5em; 
    margin: 0 auto;
}
.boxVideo {
    position: relative;
    padding-bottom: 56.25%; 
    padding-top: 25px;
    height: 0;    
}
.boxVideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.box{
    background-color: var(--color0);
    border-radius: 10px;
    padding: 0px 0px 10px 0px;
}
.box>h4{
    background-color: var(--color4);
    color: white;
    padding: 8px;
    border-radius: 10px 10px 0px 0px;
}
.box>p{
    margin: 10px;
    padding: 0px 10px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
footer{
    background-color: var(--color5);
    padding: 1%;
}
footer>p{
    color: white;
    text-align: center;
    margin: 0px;
}
footer>p>a{
    color:white;
    text-decoration: underline;
}